Django==5.0.4
gunicorn
APScheduler	
Babel	
CacheControl	
DAWG-Python	
environ
Markdown	
MarkupSafe	
PyJWT	
PyYAML	
SQLAlchemy	
Sanic-Cors	
absl-py==2.1.0
accelerate	
aio-pika	
aiofiles	
aiogram	
aiohttp	
aiohttp-retry	
aiormq	
aiosignal	
amqp	
annotated-types	
anyio	
asgiref	
asttokens	
astunparse	
async-timeout	
attrs	
bidict	
billiard	
blis	
boto3	
botocore	
cachetools	
catalogue	
celery	
certifi	
cffi	
charset-normalizer	
click	
click-didyoumean	
click-plugins	
click-repl	
cloudpathlib	
cloudpickle	
colorama	
colorclass	
coloredlogs	
colorhash	
confection	
confluent-kafka	
cryptography
channels
cycler	
cymem	
dask	
decorator	
distlib	
distro	
django-bootstrap3
django-cors-headers
django-csp	
django-environ	
django-forms-bootstrap	
django-filter
dnspython	
docopt	
dotenv
djangorestframework
exceptiongroup	
executing	
fairscale	
fbmessenger	
filelock	
fire	
flatbuffers	
fonttools	
frozenlist
flask
fsspec		
future	
gast	
google-ai-generativelanguage		
google-api-core
google-api-python-client
google-auth	
google-auth-httplib2	
google-auth-oauthlib	
google-generativeai		
google-pasta	
googleapis-common-protos		
greenlet	
grpcio		
grpcio-status	
h11	
h5py	
httpcore	
httplib2	
httptools	
httpx	
huggingface-hub	
humanfriendly	
idna	
intel-openmp	
ipython	
jax	
jedi	
jinja2	
jmespath	
joblib	
jsonpickle	
jsonschema	
keras	
kiwisolver	
kombu	
langcodes	
language-data	
libclang	
locket	
marisa-trie
markdown
matplotlib		
matplotlib-inline		
mattermostwrapper	
mkl		
ml-dtypes		
mpmath		
msgpack		
multidict		
murmurhash		
networkx		
nltk		
numpy		
oauthlib		
openai		
opt-einsum		
packaging		
pamqp		
parso		
partd		
pillow		
pip		
platformdirs		
pluggy		
portalocker		
preshed		
prompt-toolkit		
proto-plus		
protobuf
psutil		
psycopg2-binary		
pure-eval		
pyasn1		
pyasn1-modules		
pycparser		
pydantic		
pydantic-core	
pydot		
pygments		
pykwalify		
pymongo		
pymorphy3	
pymorphy3-dicts-ru		
pyparsing	
pyreadline3	
pyrsistent	
python-crfsuite	
python-dateutil	
python-dotenv	
python-engineio	
python-socketio	
pytz	
questionary	
randomname	

	
redis	
regex	
requests	
requests-oauthlib	
requests-toolbelt	
rocketchat-API	
rsa	

ruamel.yaml	
ruamel.yaml.clib	
s3transfer	
safetensors	
sanic	
sanic-jwt	
sanic-routing	
scikit-learn	
scipy	
sentencepiece	
sentry-sdk	
setuptools	
simple-websocket	
six	
sklearn-crfsuite	
slack-sdk	
smart-open	
sniffio	
spacy	
spacy-legacy	
spacy-loggers	
sqlparse	
srsly	
stack-data	
structlog	
structlog-sentry	
sympy		
tabulate	
tarsafe	
tbb	


termcolor	
terminaltables	
thinc	
threadpoolctl	
tokenizers	
toolz	
torch
torchvision	
tqdm	
traitlets	
transformers	
twilio	
typer	
typing-extensions	
typing-utils	
tzdata	
tzlocal	
ujson
uuid
uritemplate	
urllib3	
vine	
virtualenv	
wasabi	
wcwidth	
weasel		
webexteamssdk	
websockets	
werkzeug	

wrapt	
wsproto	
yarl
