{% extends 'flatpages/main/html/main.html' %}
{% load static %}
<head>
{% load static %}

    <script src="{% static 'js\main.js' %}">
    </script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block title %} Новости на сайте {% endblock %}


{% block Post_create_content %}
    {% block example_block %}

<div class="Add_Post2">

    <div class="Input_Post">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Подтвердить" >
        </form>
    </div>
</div>
        <h2>Chromes</h2>
    {% endblock%}
{% endblock Post_create_content %}
</body>
