{% extends 'flatpages/main/html/main.html' %}
{% load static %}
{%block account_friend_content%}

    <div class="users_list" id="friends-list">
            <h1>Friends List</h1>
        <div>
            <H1>Accepted friends</H1>
                {%for friend in accepted_friend_request %}
                        <div class="AcceptedFriends">
                            <a href="{% url 'users:Profile' friend.from_user.username %}">{{friend.from_user.username}}</a>
                        </div>
                {%endfor%}
            </div>
        {% if received_requests %}
        <h2>Pending Friend Requests</h2>
        <ul>
            {% for request in received_requests %}
                <li>{{ request.from_user.username }}
                <form action="{% url 'users:accept_friend_request' request.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Accept</button>
                </form>
                <form action="{% url 'users:Denied_friend_request' request.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Reject</button>
                </form>
                </li>
                {% empty %}
                <li>No pending friend requests.</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No pending friend requests.</p>
    {% endif %}

    </div>
{%endblock account_friend_content%}
