{% extends 'flatpages/main/html/main.html' %}
{% load static %}
{% load i18n %}
{% csrf_token %}
{% load tz %}



{%block Message_content_person %}

<div class="bored">


        {% load tz %}

            <div id="messages" class="panel">
                <div id="innerMessages">
                    <ul>
                        <div class="panel_dialog_with_user">
                            <p>
                                Chat with {{ recipients }}
                            </p>
                        </div>
                        <li>{% for message in chat123.message_set.all %}</li>

                                <p class="user-color"><li>{% include 'flatpages/message/html/Personal dialog.html' with message_item=message %}</li></p>

                                <p class="user-color"><li>{% include 'flatpages/message/html/chat_detail.html' with message_item=message %}</li></p>
                                

                        <li>{% endfor %}</li>
                        </ul>
                </div>
            </div>

        {% if is_blocked123 %}
            <h2>Заблокирована функция написания сообщений</h2>
        {% else %}
            {% if chat_type == 'C' %}
                 <form method="post" action="{% url 'messages_main:chat_detail' chat123.id %}">
                     <div class="textarea2">
                         {% csrf_token %}
                         {{ Messageform123.as_p }}
                         <button id="send-button" type="submit" class="btn">{% trans "Отправить в чат" %}</button>
                     </div>
                 </form>
             {% else %}
                <form method="post" action="{% url 'messages_main:createDialog' chat123.id recipients.username %}">
                    {% csrf_token %}
                    {{ Messageform123.as_p }}
                    <button id="send-button" type="submit" class="btn">{% trans "Отправить в диалог" %}</button>
                </form>
        {% endif %}
    {% endif %}




</div>


{% endblock Message_content_person %}













