body{
    background-color:black;

}
.responseFromChatBot{
    max-height:40vh;
    width:67vh;
    min-height:10vh;
    height:auto;
    border:solid gold;
    background: linear-gradient(45deg, red,gold, transparent);
    color:yellow;
    overflow-y:scroll;
}
.ChatBot{

    border-top-left-radius: 4vh;

    color:white;
    background: linear-gradient(135deg, gold,red, transparent);
}
.ChatBot h1{
padding-left:4vh;}
