

.Posts{

    position:absolute;


}
.Content_with_posts{
    display:inline-block;
    background:red;
    margin-bottom:5vh;

}
.Content_with_posts img{
    top:50px;
    height:20vh;
    width:20vh;
}

}
.OnePost{
    border-bottom:solid red;
}
.Posts_posts{
    background: linear-gradient(red,gold);
    border-top: dashed red;
    display:inline-block;
    position:sticky;
    text-align: center;
    height:65vh;
    width:77vh;
    border:solid 5px gold;

    overflow-y:scroll;
    box-shadow: 10px 5px 5px red;
    

}
.Post_without_img{

    position:absolute;
    display:block;
    margin-left:100%;
    margin-top:-100%;



}
.PostContent{
    width:25vh;
    display:inline;
    background:linear-gradient(red,yellow);
    position:;
    border:solid black;
    min-height:4vh;
    max-height:10vh;
    border-top-left-radius:50px;
    padding:10px;

}
.commentsForMainPosts {

    background:linear-gradient(red,yellow);
    position:absolute;
    display:inline-block;
    border:solid 5px black;
    height:28vh;
    width:21vh;
    overflow-y:scroll;
    left:33vh;
    overflow-x: hidden;
    top:-2vh;
}
.commentAll:hover{
    animation: eye 1s ;

}

.commentAll a:hover > p{
    visibility:visible;
     padding-left:30%;
}

.commentAll:hover{
    animation-name:position;
    transition:2s;
    transform: translate(0,-20%);
}

.commentAll{
    border-top-left-radius:50px;
    border-top: solid;
    max-width:20vh;
    min-height:10vh;
    max-height:50vh;
    word-wrap:break-word;
    

}
.Add_Post2{
    margin-left:18%;

}
.input_posts{
    background: linear-gradient(#e66465,b #9198e5);
    display:inline;

    padding-top:-10%;

}


@keyframes eye{
    0%{
    transform: scale(0.95);
        border-radius:50%;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);


    }
    70%{

    transform: scale(1) translateY(-10%);;
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100%{
    transform: scale(0.95) translateY(-15%);;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}
