.users{
    margin-left:45%;
    position:fixed;
    background:linear-gradient(red,yellow);
    margin-top:5vh;
}
.header-bar{
    border:solid gold;
    width:50%;
    background:linear-gradient(red,yellow);
    height:40%;
}
.users_list
{
    overflow-y:scroll;
    height:25vh;  
    box-shadow: 10px 5px 5px red;
    border:solid 5px gold;
}

.users_list a
{
   text-decoration: none;
}
.messageFormInAccount {
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
}

.show{
    display: block;
    opacity: 1;


}
