{% extends 'flatpages/main/html/main.html' %}
{% load static %}
{%block groups_all %}
    <div class="GroupsMenu">
      <a href="{% url 'groups:group_create'%}">
      <h1>Create</h1>
        <div class="GroupName">
        
            {% for group in groups %}

                <a href="{% url 'groups:group_detail' group.pk%}">
                    <div class="name_of_group_in_main">{{group}}</div>
                    <img width="200px" height="200px" src="{{MEDIA_URL}}{{group.images}}"/></br>
                </a>
            {%endfor%}
        </div>
            
    </a>



    </div>
{% endblock groups_all %}
